/* src/components/Button/Button.module.scss */
.button {
	@apply flex items-center justify-center h-10 whitespace-nowrap shadow-md rounded-md relative transition-all duration-500 ease-in-out;
	min-width: 30%; /* Минимальная ширина в начальном состоянии */
	flex-grow: 1; /* Начальный размер кнопки */

	&:active {
		@apply scale-95;
	}
}

.buyButton {
	@apply bg-black text-white;
}

.saleButton {
	@apply bg-white text-black;
}

/* Стили для активной кнопки */
.button.active {
	@apply flex-grow-[9] min-w-[90%]; /* Увеличиваем размер активной кнопки */
}

/* Стили для промежуточного состояния кнопок */
.button.intermediate {
	@apply flex-grow-[0.5] min-w-[15%]; /* Промежуточное состояние кнопки */
}

/* Обрезка текста для неактивной кнопки */
.buttonText {
	@apply transition-opacity duration-500 ease-in-out;
	transition: width 0.5s ease; /* Более плавный переход текста */
}

.button:not(.active) .buttonText {
	@apply overflow-hidden text-center;
	width: 1ch; /* Обрезка текста до одной буквы */
}

.button.active .buttonText {
	@apply w-auto; /* Полный текст для активной кнопки */
}
