.navigation {
	@apply fixed bottom-5  w-[90%]  left-1/2 -translate-x-1/2 flex justify-around items-center py-10 h-10 z-10 rounded-3xl;
	background-color: rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(1px);
	box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}
