.points {
	@apply rounded-xl mt-4 flex justify-between  items-center p-4;
	background-color: rgba(0, 0, 0, 0.03);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	> div {
		@apply flex items-center gap-x-2;
		> img {
			@apply w-7 h-7;
		}
		> p {
			@apply text-xl font-bold text-black;
			> span {
				@apply text-gray-500 text-[10px] lowercase font-bold;
			}
			@media screen and (max-width: 345px) {
				@apply text-lg;
			}
		}
	}
	> span {
		@apply text-2xl font-bold;
		color: rgb(102, 102, 102);
		@media screen and (max-width: 345px) {
			@apply text-xl;
		}
	}
}
