.wrapper {
	@apply flex gap-x-5 mt-3;

	> div {
		@apply p-10;
		background-color: rgba(0, 0, 0, 0.03);
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

		&:first-child {
			@apply flex w-[35%] flex-col items-center gap-y-2;
			
			> h2 {
				@apply text-sm text-center font-bold;
			}
			> strong {
				@apply text-gray-600 text-xl;
			}
			> a {
				@apply flex flex-col items-center;
				> img {
					@apply transition-transform;
				}
				> span {
					@apply transition-colors;
				}
				&:hover > img {
					@apply scale-105;
				}
				&:hover > span {
					@apply text-blue-700;
				}
			}
		}
		&:last-child {
			@apply flex w-[60%] gap-x-5 justify-center;

			> div {
				&:first-child {
					@apply flex text-center flex-col items-center gap-y-2;

					> p {
						&:first-child {
							@apply font-bold text-sm;
						}
					}
					
					.amountNeuronWrapper {
						@apply flex flex-col items-start; // Вертикальное выравнивание

						> p {
							@apply flex flex-col items-center; /* Столбиком */

							> span {
								@apply block; /* Убедимся, что span ведет себя как блок */
							}
						}
					}
					
					.amountNeuron {
						text-align: center;
						width: auto;
						white-space: nowrap; 
					}

					> p {
						@apply flex justify-between font-normal text-sm ml-auto; 
						flex-wrap: nowrap; 
						width: 100%;

						> span:first-child {
							@apply flex-grow text-left;
							@apply mr-[10%]; /* Сдвигаем правый span влево */
						}

						> span:last-child {
							@apply text-right ml-auto;
						}
					}

					@media (max-width: 380px) {
						> p {
							@apply flex text-sm; /* Убедимся, что элементы в p располагаются в ряд */
							
							> span:first-child {
								@apply text-sm mr-1; /* Уменьшаем размер шрифта для первого span */
								white-space: nowrap; /* Запрещаем перенос текста */
							}
					
							> span:last-child {
								@apply text-sm; /* Уменьшаем размер шрифта для второго span */
								@apply mr-[10%]; /* Сдвигаем правый span влево */
								white-space: nowrap; 
								
							}
						}
						
					}
					
					
					> span {
						@apply text-gray-600 text-xl ;
					}
				}

				&:last-child {
					@apply w-[12px] flex-shrink-0 border border-solid border-black bg-white flex flex-col-reverse overflow-hidden h-[150px];

					border-radius: 10px;
					> div {
						@apply bg-black rounded-xl h-[0%] w-full transition-all;
					}
				}
			}
		}
	}
}
