.wrapper {
	@apply flex gap-x-5 mt-10;
	/* @media screen and (max-width: 600px) {
		@apply flex-col gap-x-0 gap-y-5;
	} */
	> div {
		@apply p-10;

		background-color: rgba(0, 0, 0, 0.03);
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		/* @media screen and (max-width: 600px) {
			@apply w-full;
		} */
		&:first-child {
			@apply flex w-[35%] flex-col items-center gap-y-2;
			> h2 {
				@apply text-sm text-center font-bold;
			}
			> strong {
				@apply text-gray-600 text-xl;
			}
			> a {
				@apply flex flex-col items-center;
				> img {
					@apply transition-transform;
				}
				> span {
					@apply transition-colors;
				}
				&:hover > img {
					@apply scale-105;
				}
				&:hover > span {
					@apply text-blue-700;
				}
			}
		}
		&:last-child {
			@apply flex w-[65%] gap-x-5 justify-center items-center;

			> div {
				&:first-child {
					@apply flex text-center flex-col items-center gap-y-2;
					> p {
						@apply font-bold text-sm;
					}
					> span {
						@apply text-gray-500 font-bold;
					}
				}
				&:last-child {
					@apply w-[12px]  flex-shrink-0 border border-solid border-black bg-white  flex flex-col-reverse overflow-hidden h-[150px];

					border-radius: 10px;
					> div {
						@apply bg-black rounded-xl h-[0%]  w-full transition-all;
					}
				}
			}
		}
	}
}
